/* .header_container {
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
} */

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
   padding: 1.25rem 2rem 1rem;
  /* border-radius: 12px; */
  transition: all 0.3s ease;
}

.header_transparent {
  background: transparent;
  box-shadow: none;
}

.header_scrolled {
  background: rgba(255, 255, 255, 0.09);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  animation: fadeDown 0.3s ease;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu_list {
  /* color : #F0F0DB; */
  color : #ffffff;
} 